//
// $load-keyframes-rotateIn 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-rotateIn == true {
    @keyframes rotateIn {
      from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
        visibility: visible;
      }

      to {
        transform-origin: center;
        transform: none;
        opacity: 1;
      }
    }
}
