//
// $load-keyframes-rotateInUpRight 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-rotateInUpRight == true {
    @keyframes rotateInUpRight {
      from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
        visibility: visible;
      }

      to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
      }
    }
}
