//
// $load-keyframes-rotateOutDownRight 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-rotateOutDownRight == true {
    @keyframes rotateOutDownRight {
      from {
        transform-origin: right bottom;
        opacity: 1;
        visibility: visible;
      }

      to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
        visibility: hidden;
      }
    }
}
