//
// $load-keyframes-lightOut 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-lightOut == true {
    @keyframes lightOut {
      from {
        opacity: 1;
      }

      to {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
      }
    }
}
