//
// $load-keyframes-flipOutX 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-flipOutX == true {
    @keyframes flipOutX {
      from {
        transform: perspective(400px);
      }

      30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
      }

      to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
      }
    }
}
