//
// $load-keyframes-fadeOutLeft 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-fadeOutLeft == true {
    @keyframes fadeOutLeft {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }
    }
}
