//
// $load-keyframes-fadeOutDownBig 变量控制了此'keyframes'是否被输出到css中去
//
@if $load-keyframes-fadeOutDownBig == true {
    @keyframes fadeOutDownBig {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
      }
    }
}
